/* #457B9D */

* {
    font-family: 'Lato', sans-serif;
}

nav {
    background-color: #1D3557;
}

#logout-btn,
nav button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

main {
    /* background-color: #336699; */
    margin: 50px 0;
}

.icon {
    width: 70px;
    padding: 15px;
    color: white;
}

#profile-icon, #sign-in-icon {
    padding: 5px 15px 0px 15px;
    color: #E9ECEF;
    font-size: 15px;
}

#search-icon {
    margin: 0;
    padding: 15px;
}

#search-text {
    margin: 0;
    padding: 20px;
    color: grey;
}

#search-card {
    background-color: #E9ECEF;
    border-radius: 10px;
}

.hospital-cards {
    /* background-color: #add7f6; */
    border-radius: 10px;
    border: #add7f6 4px solid;
}

.hospital-name {
    font-size: 30px;
}

.hospital-detail-boxes {
    padding: 0 30px;
}

.hospital-card-icon {
    padding: 35px;
    text-align: center;
}

footer {
    background-color: #1D3557;
    color: #F1FAEE;
}

footer a {
    color: #F1FAEE;
    text-decoration: none;
    vertical-align: bottom;
}

.material-icons-outlined {
    font-size: 35px;
    font-weight: 100;
}

.material-icons {
    font-size: 35px;
    font-weight: 700;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

#hamburgerPlaceholder {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    color: black;
    background-color: whitesmoke;
    transition: 0.2s;
}

#notificationPlaceholder {
    box-sizing: border-box;
    height: 0;
    width: 75%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    color: black;
    background-color: whitesmoke;
    transition: 0.2s;
}

#map {
    z-index: 0;
}

.material-icons2 {
    cursor: pointer;
    font-size: 25px;
}

#contact-three-parts {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: small;
    gap: 50px;
}

@media (min-width: 426px) {
    #contact-three-parts {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #contact-address {
        text-align: center;
    }

    #contact-phone {
        text-align: center;
    }

    #contact-email {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .help-four-parts {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
    }

    .help-rectangle {
        background-color: #e0ffff;
        border-style: solid;
        border-width: 5px;
        border-color: #1D3557;
        height: 200px;
        width: 280px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 12px;
        padding: 20px;
    }

    .help-rectangle h4 {
        font-size: 16px;
        margin-top: 10px;
    }
}

@media (min-width: 601px) {
    .help-four-parts {
        display: flex;
    }

    .help-rectangle {
        background-color: #e0ffff;
        border-style: solid;
        border-width: 5px;
        border-color: #1D3557;
        height: 200px;
        width: 280px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 12px;
        padding: 20px;
    }

    .help-rectangle h4 {
        font-size: 16px;
        margin-top: 10px;
    }
}

#notification-icon {
    font-size: 35px;
    text-decoration: none;
    color: #E9ECEF;
}